h2{
color:black;
font-size: 40px;
}

nav{
  border-bottom:2px solid black;
}

nav ul{
  overflow:auto;
  list-style:none;
  margin:0;
}

nav li{
  float: left;
}

nav ul a{
  color:#253652;
  display:block;
  padding:20px;
  text-decoration:none;
  font-weight:bold;
}

a{
  color:#253652;
  font-family:verdana;
  text-decoration:none;
  font-weight:bold;
}

