/* Welcome to Compass. In this file you should write your main styles. (or centralize your imports) Import this file using the following HTML or equivalent: <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html { line-height: 1; }

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul { list-style: none; }

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote { quotes: none; }
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img { border: none; }

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

/* Apply a CSS3 transition  $property The property you want to animate, eg opacity $duration The duration of the animation, eg 1s $ms Include -ms-transition; default is false because IE does not support transitionEnd callback  @include transition(opacity, 0.5s); */
/* line 61, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html { font-size: 100%; }

/* line 64, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html { font-size: 16px; line-height: 1.5em; }

/* line 7, ../sass/global/_base.scss */
body { font-size: 14px; line-height: 18px; font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

/* line 13, ../sass/global/_base.scss */
h1 h2, h3, h4, h5 { line-height: 1.2; margin-bottom: .25em; font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: normal; }

/* line 20, ../sass/global/_base.scss */
h1 { font-size: 63px; }

/* line 21, ../sass/global/_base.scss */
h2 { font-size: 49px; }

/* line 22, ../sass/global/_base.scss */
h3 { font-size: 35px; }

/* line 23, ../sass/global/_base.scss */
h4 { font-size: 21px; }

/* line 24, ../sass/global/_base.scss */
h5 { font-size: 14px; }

/* line 3, ../sass/layout/_layout-global.scss */
body, html, #content-wrapper { width: 100%; height: 100%; }

/* line 8, ../sass/layout/_layout-global.scss */
body { display: block; padding: 0; margin: 0; }

/* line 14, ../sass/layout/_layout-global.scss */
#header { position: fixed; z-index: 1000; width: 100%; bottom: 0; height: 3em; padding: .75em 0; background: #dedede; -webkit-box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.5); box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.5); }

/* line 25, ../sass/layout/_layout-global.scss */
.page { width: 100%; height: 100%; overflow: hidden; }

/* line 31, ../sass/layout/_layout-global.scss */
.video-bg { top: 0; left: 0; width: 100%; height: 100%; z-index: -1; }

/* line 39, ../sass/layout/_layout-global.scss */
#videos { background: #fafafa; }
/* line 41, ../sass/layout/_layout-global.scss */
#videos .content, #videos .owl-carousel, #videos .owl-wrapper-outer, #videos .owl-wrapper, #videos .owl-item { width: 100%; height: 100%; margin: 0; }

/* line 46, ../sass/layout/_layout-global.scss */
.content { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; position: relative; }

/* line 51, ../sass/layout/_layout-global.scss */
#video-stories.carousel .item { width: 100%; height: 100%; }
/* line 54, ../sass/layout/_layout-global.scss */
#video-stories.carousel .item .video-wrapper { -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; position: absolute; z-index: -1; top: 0; left: 0; }
/* line 61, ../sass/layout/_layout-global.scss */
#video-stories.carousel .item .content-wrapper { width: 960px; margin: 0 auto; }
/* line 64, ../sass/layout/_layout-global.scss */
#video-stories.carousel .item .content-wrapper .content { width: 50%; position: relative; top: 5.5em; padding: 24px; background: rgba(255, 255, 255, 0.8); }
/* line 70, ../sass/layout/_layout-global.scss */
#video-stories.carousel .item .content-wrapper .content h4, #video-stories.carousel .item .content-wrapper .content p { margin-bottom: 1em; }

/* line 10, ../sass/screen.scss */
a.btn:link, a.btn:visited, a.btn:active { color: white; }

/* line 12, ../sass/screen.scss */
#video-stories { background: #fff; }
/* line 14, ../sass/screen.scss */
#video-stories .item { height: 100%; width: 100%; position: relative; }
/* line 18, ../sass/screen.scss */
#video-stories .item .video-wrapper { height: 100%; width: 100%; }

/* line 26, ../sass/screen.scss */
.owl-controls .owl-page { display: inline-block; zoom: 1; *display: inline; /*IE7 life-saver */ }

/* line 32, ../sass/screen.scss */
.owl-controls .owl-page span { display: block; width: 12px; height: 12px; margin: 5px 7px; filter: Alpha(Opacity=50); /*IE7 fix*/ opacity: 0.5; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; background: #869791; }

/* line 46, ../sass/screen.scss */
.owl-controls .owl-page.active span, .owl-controls.clickable .owl-page:hover span { filter: Alpha(Opacity=100); /*IE7 fix*/ opacity: 1; }

/* line 77, ../sass/global/_mixins.scss */
.owl-controls { display: inline-block; margin: 0 auto; left: 50%; position: relative; }
/* line 82, ../sass/global/_mixins.scss */
.owl-controls .owl-pagination { width: auto; float: left; position: relative; left: -50%; }
